.box{
    display: flex;
    margin: 10px;
    gap: 20px;
}

.grandparent {
    background-color: #fca7c5;
    height: 230px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
}

.parent {
    background-color: #a0bdfb;
    height: 130px;
    width: 95%;
   border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.child{
    background-color: rgb(6, 174, 6);
    border-radius: 10px;
    color: white;
    height: 40px;
    border: none;
}
.EventLog{
    width: 30%;
    min-height: 200px;
    border: none;
    box-shadow: 0px 0px 9px 1px rgba(121, 120, 120, 0.72);
    border-radius: 15px;
    padding: 10px;
}
p{
    color: rgb(93, 92, 92);
    font-size:medium;
}
.list{
    list-style: none;
}
.clear{
    border: none;
    height: 30px;
    color: white;
    background-color: rgb(38, 107, 255);
    display: none;
}